--extra-index-url https://download.pytorch.org/whl/cu128
--trusted-host download.pytorch.org
PyYAML
requests
torch
numpy
matplotlib
sentencepiece
ffmpeg-python
soundfile
mlstm_kernels
xlstm
lion-pytorch
jiwer
